---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About SpaceX">
  <div class="text-white">
    <h1>About the astro project</h1>
    <p>The SpaceX launches project is a demo for the Astro course</p>
  </div>
</Layout>
