---
import HeaderButton from "./HeaderButton.astro"

console.log('header.astro')
---


<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-5 text-5xl tracking-tight font-extrabold text-white">
      SpaceX Launches
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      All the information about Space X Launches
    </p>
  </div>
  <nav class="flex flex-col text-white items-center justify-between w-full text-center md:flex-row">
    <HeaderButton href="/">
      <p slot="before">hola</p>
      Últimos lanzamientos de Space X
    </HeaderButton>
    <HeaderButton href="/about">
      <p>soy</p>
      Sobre el proyecto
    </HeaderButton>
    <HeaderButton href="/oldest">
      <p slot="after">Gabriel</p>
      Los más antiguos
    </HeaderButton>
  </nav>
</header>